extends layout

block content
  .container
    .list-group
      - for(var i = 0; i<bookmarks.length; ++i)
        a.list-group-item(href=bookmarks[i].url)
          h4.list-group-item-heading=bookmarks[i].title
          p.list-group-item-text=bookmarks[i].url
          - if(bookmarks[i].desc && bookmarks[i].desc != '')
            p.list-group-item-text=bookmarks[i].desc
